#grid{
    margin: 0 auto;
    width: 80%;
    height: 100vh;  
    padding: 20px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

}
#grid-1{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    height: 50%;
}
#grid1-left{
    display: flex;
    align-items: end;
    justify-content: start;
    border-radius: 10px;
    background-size: cover; /* Ensures the image covers the entire container */

    width: 50%;
background-image: url(../../assets/Images/priroritize.png);
background-repeat: no-repeat;

    padding:clamp(0.3125rem, 0.2273rem + 1.3636vw, 1.25rem);
    border: 1px solid rgba(128, 128, 128, 0.301);
    height: 82%;
}
.grid-headings{
font-size: clamp(0.5rem, 0.3rem + 1.6vw, 1.5rem);
    margin: 0;
    padding: 0;
}
#grid2-right>p{
    width: 50%;
    font-size: clamp(0.7rem, 0.6273rem + 1.1636vw, 1.8rem);
}
#grid2-right>h3{
    width: 60%;
    font-size: clamp(0.4rem, 0.3rem + 1.6vw, 1.5rem);
}
#grid1-right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}
#time-flex{
    display: flex;
    align-items: start;
    border-radius: 10px;
    background-image: url(../../assets/Images/time-zone.png);
    background-repeat: no-repeat;
    background-size: contain; /* Ensures the image covers the entire container */
    background-position:bottom; /* Centers the image */
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.301);
    width: 100%;
    height: 50%;
}

#tech-stack{
    display: flex;
    border-radius: 10px;
    padding: 20px;

    /* padding-right: 0px !important; */
    border: 1px solid rgba(128, 128, 128, 0.301);
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    
    height: 50%;
}
#techstack-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
}
#techstack-content>p{
margin-left: -10px;
width: 100%;
/* background-color: aqua; */
font-size: clamp(0.3rem, 0.2364rem + 1.0182vw, 1rem);
}
#techstack-content>h3{
margin-left: -10px;
width: 90%;
font-size: clamp(0.4rem, 0.2909rem + 1.9455vw, 1.8rem);

/* font-size: clamp(0.4rem, 0.2909rem + 1.7455vw, 1.6rem); */
    }
    #mar {
        display: flex;
        width: clamp(5rem, 4.0909rem + 14.5455vw, 15rem);
        justify-content: center;
        align-items: center;
        height: 9rem;
        overflow: hidden; /* Ensure content outside the container is hidden */
      }
      
      #marquee-up,
      #marquee-down {
        width: clamp(1rem, 3.7273rem + 4.3636vw, 6rem);
        height: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-duration: 5s; /* Increase or decrease for faster or slower speed */
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      
      @keyframes marquee-up {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(-100%);
        }
      }
      
      @keyframes marquee-down {
        0% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(100%);
        }
      }
      
      #marquee-up {
        animation-name: marquee-up;
      }
      
      #marquee-down {
        animation-name: marquee-down;
      }

      #marquee-up  > img {
        margin: 0 auto;
        width: clamp(2rem, 1.7841rem + 3.4545vw, 4.375rem);


        height: clamp(2rem, 1.7841rem + 3.4545vw, 4.375rem);


      }
      #marquee-down  > img {
        margin: 0 auto;
        width: clamp(2rem, 1.7841rem + 3.4545vw, 4.375rem);


        height: clamp(2rem, 1.7841rem + 3.4545vw, 4.375rem);

      }
      

#grid-2{
    /* background-color: rebeccapurple; */
    /* margin: 0 auto; */
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: space-between;
    height: 50%;
}

#grid2-left{
    width: 40%;
    height: 100%;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
#tech-enthusiast>img{
width:  clamp(7rem, 6.4545rem + 8.7273vw, 13rem);
    position: absolute;
    right: -2%;
    
    bottom: -5%;
}
#tech-enthusiast>h3{
    width: 100%;
    font-size: clamp(0.6rem, 0.5091rem + 1.4545vw, 1.6rem);

}
#tech-enthusiast{
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding: clamp(0.6rem, 0.5182rem + 1.3091vw, 1.5rem);
    border: 1px solid rgba(128, 128, 128, 0.301);
background-image: url(../../assets/Images/matrix-bg.png);
background-size: cover;
background-repeat: no-repeat;
    height: 50%;
}
#start-project{
    background-image: url(../../assets/Images/start-project.png);
    gap: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    display: flex;
justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.301);

    height: 40%;
}
#grid2-right{
    overflow: hidden;
    position: relative;
background-image: url(../../assets/Images/matrix-bg.png);
    display: flex;
    justify-content: center;
        flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.301);

    width: 60%;
height: 20rem;
padding: 30px;
}#grid2-right>h3{
    width: 40%;
}
#grid2-right>img{

    position: absolute;
    bottom: 0;
    right: 1%;
width:clamp(5rem, 3.1818rem + 29.0909vw, 25rem);
}
#grid2-right>h3{
    padding: 0 !important;
    width: 40% !important;
}
#copy-btn>i{
    font-size: 1rem;
}
#copy-btn{
    padding: clamp(0.2rem, 0.275rem + 0.5vw, 0.925rem);
    border: none;
    border-radius: 10px;
    background-color: #06091F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: max-content;
    align-items: center;
    font-size: clamp(0.5rem, 0.44rem + 0.48vw, 0.8rem);
}
@media only screen and (min-width: 100px) {
    #grid{
        width: 100%;
        height: max-content;    
        gap: 2vh;
    }
    #grid-1{
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3vw;
        height: max-content;
    }
    #grid1-left{
      
        width: 90%;
        height: clamp(5rem, 1rem + 32vw, 20rem);
    }
    #grid1-right{
    gap: 2vh;

        width: 90%;
        height: max-content;
    }
    #time-flex{
        width: 100%;
        height:clamp(5rem, 4.6364rem + 5.8182vw, 9rem);
    }
    #tech-stack{
     
        width: 100%;
   
        height: clamp(5rem, 2.4rem + 20.8vw, 18rem);
    }
    #grid-2{
        width: 90%;
        gap: 2vh;
        flex-direction: column;
        justify-content: space-between;
        height: max-content;
    }

#grid2-left{
    width: 100%;
    height: max-content;
    
}
    #tech-enthusiast{
       
        width: 100%;

        height: clamp(5rem, 4rem + 8vw, 10rem);

    }
    #tech-enthusiast>h3{
        width: 70%;
        font-size: clamp(0.6rem, 0.5091rem + 1.4545vw, 1.6rem);
    
    }
    #start-project{
        background-image: url(../../assets/Images/start-project.png);
        gap: 1vh;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border-radius: 10px;
        display: flex;
    justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding:clamp(0.3125rem, 0.125rem + 1.5vw, 1.25rem);
        border: 1px solid rgba(128, 128, 128, 0.301);
    
        
         height: clamp(5rem, 3.6rem + 11.2vw, 12rem);
    }

#grid2-right{
    justify-content: center;
padding: clamp(0.3125rem, 0.1705rem + 2.2727vw, 1.875rem);
background-image: url(../../assets/Images/matrix-bg.png);
width: 100%;
height: clamp(5rem, 3.1818rem + 29.0909vw, 23rem);
}
#grid2-right>h3{
    width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 786px) {
    #grid{
        width: 80%;
        height:max-content;  
        gap: 5vh;
    }
    #grid-1{
        
        flex-direction: row;
        height: 50%;
    }
    #grid1-left{
       
        width: 50%;
    }
    #grid1-right{
    gap: 3vh;

        width: 40%;
    }
    #time-flex{
        width: 100%;

    }
    #tech-stack{
      
        width: 100%;
        padding: 20px;

        padding-right: 0px !important;
        height: 50%;
    }
    #grid-2{
        /* background-color: rebeccapurple; */
        /* margin: 0 auto; */
        width: 100%;
      flex-direction: row;
        height: max-content;
    }
    #tech-enthusiast{
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        width: 90%;
        /* padding: 20px; */
        border: 1px solid rgba(128, 128, 128, 0.301);
    background-image: url(../../assets/Images/matrix-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
        /* height: 50%;
         */
    }
    
#grid2-left{
    width: 40%;
    height: 100%;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
#grid2-right{

    width: 60%;
}
#start-project{
    background-image: url(../../assets/Images/start-project.png);
    gap: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    display: flex;
justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /* padding: 25px; */
    border: 1px solid rgba(128, 128, 128, 0.301);
}
#grid2-right{
    justify-content: center;
 
    width: 60%;
padding: 15px;}
#grid2-right>h3{
    width: 40%;
}
#tech-enthusiast>h3{
    width: 100%;

}
}

