@font-face {
    font-family: mona-bold;
    src: url(../../assets/Fonts/MonaSans/OTF//Mona-Sans-MediumWide.otf);
}
#contact{
    padding: 30px 0px;
    background-image: url(../../assets/Images/contact-bg-matrix.png);
    width: 100%;
    padding: clamp(3rem, 1.6rem + 11.2vw, 10rem) 0vw;
    height: max-content;
    display: flex;
gap: 2vh;
align-items:center;
flex-direction: column;
color: white;

}
#contact-btns{
    text-align: center;
}#contact-text>h4{
    font-size: clamp(0.5rem, 0.4rem + 0.8vw, 1rem);
    text-align: center;
    width: 90%;
    margin: 0;
    padding: 0;
}
#contact-text{
    width: 100%;
    flex-direction: column;
    height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#contact-text>h1{
    /* background-color: yellow; */
    color: white;
    font-family: mona-bold !important;
    text-align: center;
    width: 60%;
    margin: 0;
    /* width: max-content; */
    height: max-content;
    padding: 0;
    font-family: mona;
    font-size: clamp(1rem, 0.6rem + 3.2vw, 3rem);
    padding-bottom: 2vh;
}

.contact-btn{
    font-weight: bold;
    font-size: clamp(0.5rem, 0.4rem + 0.8vw, 1rem);
    padding: clamp(0.625rem, 0.5rem + 1vw, 1.25rem);


    background-color: #0C0E23;

    border: none;
    border-radius: 10px;
}#contact-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-radius:10px;
  border: none;
  box-sizing: border-box;
}

#contact-part1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
}

#contact-form textarea {
  resize: vertical;
}

#email-send{
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact-form button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (min-width: 768px) {
  #contact-part1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .label {
    flex: 1;
    margin-right: 15px;
  }

  .label:last-child {
    margin-right: 0;
  }
}


@media (min-width: 1024px) {
  #contact-form input,
  #contact-form textarea {
    width: 35rem;
  }

  .label>input {
    width: 100% !important;
  }
}

@media only screen and (min-width: 100px) {
    #contact-text>h1{
     
        width: 80%;
       
    }
      }
      @media only screen and (min-width: 768px) {
        #contact-text>h1{
     
            width: 60%;
           
        }
          }


          :root {
            --glow-hue: 222deg;
            --shadow-hue: 180deg;
            --spring-easing: linear(
              0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
              1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
              1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
              0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
              0.998 84%, 1
            );
            --spring-duration: 1.33s;
          }
          @property --shimmer {
            syntax: "<angle>";
            inherits: false;
            initial-value: 33deg;
          }
          
          @keyframes shimmer {
            0% {
              --shimmer: 0deg;
            }
            100% {
              --shimmer: 360deg;
            }
          }
          
          @keyframes shine {
            0% {
              opacity: 0;
            }
            15% {
              opacity: 1;
            }
            55% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes text {
            0% {
              background-position: 100% center;
            }    
            100% {
              background-position: -100% center;
            }    
          }
          
          #contact-btns>button {
            color: var(--bg);
            font-weight: 600;
            background-color: #0C0E23;
            padding: .8em 1.4em;
            position: relative;
            isolation: isolate;
            border-radius: 0.66em;
            scale: 1.2;
            padding: 20px;
            transition: all var(--spring-duration) var(--spring-easing);
            box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
            animation: text .66s ease-in-out infinite;
          }
          
          button:active {
            scale: 1.1;
            transition-duration: calc(var(--spring-duration) * 0.5);
          }
          
          .shimmer {
            position: absolute;
            inset: -40px;
            border-radius: inherit;
            mask-image: conic-gradient(
              from var(--shimmer, 0deg),
              transparent 0%,
              transparent 10%,
              black 36%,
              black 45%,
              transparent 50%,
              transparent 60%,
              black 85%,
              black 95%,
              transparent 100%
            );
            mask-size: cover;
            mix-blend-mode: plus-lighter;
            animation: shimmer 1s linear infinite both;
          }
          
          .shimmer::before,
          .shimmer::after {
            transition: all 0.5s ease;
            opacity: 1;
            content: "";
            border-radius: inherit;
            position: absolute;
            mix-blend-mode: color;
            inset: 40px;
            pointer-events: none;
            animation: shine 1.2s ease-in-out infinite;
          }
          
          .shimmer::before {
            box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
              0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
              0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
              0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
            z-index: -1;
          }
          
          .shimmer::after {
            box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
              inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
              inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
            z-index: 2;
          }
          
          button>.text {
            color: rgba(255, 255, 255, 0.712);
            background-clip: text;
            background-color: var(--bg);
            background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue), 100%, 80%, 0.66) 40%, hsla(var(--glow-hue), 100%, 90%, .9) 50%, transparent 52%);
            background-repeat: no-repeat;
            background-size: 300% 300%;
          }
          
          body, html {
            background-image: radial-gradient(
              circle at 50% 0%,
              rgb(67, 54, 74) 16.4%,
              rgb(47, 48, 67) 68.2%,
              rgb(27, 23, 36) 99.1%
            );
          }
          